interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.discogs.com/users/MusikPolice/collection/folders/0/releases?page=1&per_page=10
  response:
    body:
      string: '{"pagination":{"page":1,"pages":23,"per_page":10,"items":223,"urls":{"last":"https://api.discogs.com/users/MusikPolice/collection/folders/0/releases?page=23&per_page=10&sort=label&sort_order=asc","next":"https://api.discogs.com/users/MusikPolice/collection/folders/0/releases?page=2&per_page=10&sort=label&sort_order=asc"}},"releases":[{"id":10511913,"instance_id":253205614,"date_added":"2017-10-02T16:05:15-07:00","rating":0,"basic_information":{"id":10511913,"master_id":1203385,"master_url":"https://api.discogs.com/masters/1203385","resource_url":"https://api.discogs.com/releases/10511913","thumb":"https://i.discogs.com/VA4ePqD8v9kyHi2cCzNy7Bj6CQ0sxIpfFyihUpDtmtM/rs:fit/g:sm/q:40/h:150/w:150/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTEwNTEx/OTEzLTE0OTkxMTA3/OTYtMTA0OS5qcGVn.jpeg","cover_image":"https://i.discogs.com/HwgRSeqbQpjrhDQEyBGuVsx0XtvLeI1bXclbvG6vOqc/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTEwNTEx/OTEzLTE0OTkxMTA3/OTYtMTA0OS5qcGVn.jpeg","title":"Baby
        Driver (Music From The Motion Picture)","year":2017,"formats":[{"name":"Vinyl","qty":"2","descriptions":["LP","Compilation","Limited
        Edition","Stereo"]}],"labels":[{"name":"30th Century Records","catno":"88985
        44664 1","entity_type":"1","entity_type_name":"Label","id":963358,"resource_url":"https://api.discogs.com/labels/963358"},{"name":"Columbia","catno":"88985
        44664 1","entity_type":"1","entity_type_name":"Label","id":1866,"resource_url":"https://api.discogs.com/labels/1866"}],"artists":[{"name":"Various","anv":"","join":"","role":"","tracks":"","id":194,"resource_url":"https://api.discogs.com/artists/194"}],"genres":["Rock","Stage
        & Screen"],"styles":["Soundtrack","Indie Rock"]},"folder_id":1,"notes":[{"field_id":1,"value":"Mint
        (M)"},{"field_id":2,"value":"Mint (M)"}]},{"id":6666484,"instance_id":559987650,"date_added":"2021-01-02T11:13:37-08:00","rating":0,"basic_information":{"id":6666484,"master_id":109113,"master_url":"https://api.discogs.com/masters/109113","resource_url":"https://api.discogs.com/releases/6666484","thumb":"https://i.discogs.com/umRExfBlB7gaj989sn1XxDO-T6FFUeK33frxsxukQvY/rs:fit/g:sm/q:40/h:150/w:150/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTY2NjY0/ODQtMTU1OTAzMDE3/Ny01MzQxLmpwZWc.j[...]
[...]
